
body{
    background-color: cornflowerblue;
}
.top{
    
    text-align: center;
    height: 30px;
    background-color: aquamarine;
    width: 50%;
    margin: auto;
}
#mid{
    margin: auto;
    align-self: auto;
    height: 350px;
    background-color: yellowgreen;
    width: 80%;
    text-align: center;
}
.input{
    padding-left: 30%;
    box-align: auto;
    margin-left: 10%;
    margin-right: 10%;
}
.fieldText{
    width: 60px;
}
.textField{
    margin-left: 10px;
}
#button{
    margin: 10px;
}